body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #faf8ef;
  margin: 0;
  padding: 20px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
  background: #bbada0;
  padding: 10px;
  border-radius: 10px;
}

.tile {
  width: 100px;
  height: 100px;
  background: #cdc1b4;
  font-size: 24px;
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  color: #776e65;
  font-weight: bold;
}

.tile-2 {
  background: #eee4da;
}
.tile-4 {
  background: #ede0c8;
}
.tile-8 {
  background: #f2b179;
  color: #f9f6f2;
}
.tile-16 {
  background: #f59563;
  color: #f9f6f2;
}

.tile-32 {
  background: rgb(201, 27, 27);
  color: #f9f6f2;
}

.tile-64 {
  background: rgb(55, 226, 78);
  color: #f9f6f2;
}

.tile-128 {
  background: rgb(60, 25, 235);
  color: #f9f6f2;
}

.tile-256 {
  background: rgb(60, 25, 235);
  color: #f9f6f2;
}

#restart-btn {
  padding: 10px 20px;
  font-size: 16px;
  background: #8f7a66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
